.DS_Store
.idea

/wp-content/cache
/wp-content/backup-*
/wp-content/upgrade
/wp-content/uploads
/wp-content/cca_maxmind_data
/wp-content/ccwpsc_plugins
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/plugins/akismet
cache
/wp-content/ewww
/wp-admin
/wp-includes
/wp-*.php
!wp-config.*
/index.php
/readme.html
/license.txt
/xmlrpc.php
/wp-content/themes/twenty*
node_modules
/designs
/vendor
debug.log

/output/

# books
/doing-economics
/the-economy-south-asia
/electric-book
/the-economy
/core
